body{
	margin: 0;
	}

/*меню*/
.menu_conteiner{
	display: flex;
	justify-content: flex-end;
	background-color: #2E323F;
	padding-right: 5vw;
}
.menu_conteiner a {
	font-family: 'Oswald', sans-serif;
	margin: 1.2vw;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius:100px;
	border-color: #A59678;
}

.menu_button_signup{
	border-radius:100px;
	background-color: #A59678;
	padding-left: 1vw;
	padding-right: 1vw;
}

.header{
	padding: 5vw;
	align-items: center;
	display: flex;
	background-color: #3B4050;
	height: 100vh;
	color: #FFFFFF;
}


h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-size: 90px;
}

h1 a {
	color: #A59678;
}

.lorem p {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.i_want_to_learn {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	border-radius:100px;
	background-color: #A59678;
	padding-left: 1vw;
	padding-right: 1vw;

}

.header_2{
	padding-left: 6vw;
	padding-right: 2vw;
	padding-top: 16.5vw;
}

.header_2 a{
	text-decoration: none;
	color:#FFFFFF;
}




.poloska{
	display: flex;
	background-color: #F1F1F1;
}

.poloska_1{
	padding-right: 5vw;
	padding-left: 5vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
	text-align: center;


}

.poloska_1 h2{
	font-size: 30px;
	color: #A59678;
	font-family: 'Oswald', sans-serif;

}

.poloska_1 a{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;

}
