body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFDD;
}


.header_container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 7vw;
    background-size: cover;
    color: white;
    color: #000000;
}


.menu_conteiner{
  background-color: black;
  padding: 6;

}
.menu_conteiner ul {
display: flex;
justify-content: space-between;
}

.menu_conteiner a {
color: #FFFFDD;
text-decoration: none;
margin: 12;
padding: 18;
}

.menu_conteiner a:hover {
border: 4px solid #FFFFDD;
}


.header_text2 {
    font-size: 2vw

}

.about_company{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    color: #000000;
    font-size: 2vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin-right: 15vw;
    margin-left: 15vw;

}

.company_text{
    font-size: 5vw;
}


.Contact_Information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 5vw;
    background-size: cover;
    padding-top: 10vw;


}


.Contact_Information_da {
    display: flex;
    font-size: 3vw;
    text-decoration: none;

}

.Contact_Information_da a {
    text-decoration: none;
    color: #FFFFDD;
    background-color: black;
    border-radius:20px;
    padding: 5;



}

.Contact_Information_ne{
    margin: 0.5vw;

}